.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.selected{
  text-decoration: line-through;

}


.high-score{
  color: #a2db6e;
}
.medium-score{
  color: rgb(235, 185, 37);
}
.low-score{
  color: #bd4512;
}

.score{
  font-weight: 900;
}

.cong{
  font-weight: 700;
  color: #a2db6e;
}

.lost{
  font-weight: 700;
  color: #bd4512;
}